@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.body1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/ChatGPT\ Image\ 20\ de\ mar.\ de\ 2026\,\ 17_27_06.png") no-repeat center center;
    background-size: cover;
}

.body2{
    width: ;
    height: ;
}

/*  CONTAINER */
.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.container2{
    justify-content: top;
    align-items: top;
    height: 92vh;
}


/*  FORMS */
.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2def8d7;
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f7f7f7;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


/*  LOGIN   */
.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: #584fff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #6b63fff1;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #ffff
}


/*  FORM HEADER*/
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #584fff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


/*  INPUT   */
.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #584fff;
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder{
    color: #000000be;
}


/* GENDER */

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.8rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
    background-color: #6b63fff1;
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffff;
}

@media screen and (max-width: 1330px){
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }

    .form{
        width: 100%;
    }
}

@media screen and (max-width: 1064px){
    .container{
        width: 90%;
        height: auto;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-input{
        margin-top: 2rem;
    }

    .gender-group{
        flex-direction: column;
        margin-top: 0.5rem;
    }
}